{% extends "base.html.twig" %}

{% block title %}AppBundle:Author:index{% endblock %}

{% block body %}
    <h2>Authors</h2>
    <table style="border-spacing: 10px 10px">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td><a href={{path('edit_author', {'id': author.id})}}>Edit</a></td>
                <td><a href={{path('delete_author', {'id': author.id})}}>Delete</a></td>
            </tr>
        {% else %}
            <tr>
                <td>No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href={{path('new_author')}}>Create new</a><br>
    <a href={{path('homepage')}}>Homepage</a>
{% endblock %}
