{% extends "base.html.twig" %}

{% block title %}AppBundle:Author:new{% endblock %}

{% block body %}
    <h2>New author</h2>

    {{ form_start(form) }}
    <div class="form-row">
        <div>{{ form_label(form.name) }}</div>
        <div style="margin-bottom: 10px">{{ form_widget(form.name) }}</div>
    </div>
    {{ form_widget(form) }}
    <button class="btn" style="margin-bottom: 10px">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href={{path('author')}}>Back to list</a><br>

{% endblock %}
