{% extends "base.html.twig" %}

{% block title %}AppBundle:Book:index{% endblock %}

{% block body %}
    <style>
        .editBook{
            display: none;
        }
        th {
            width: 140px;
        }
    </style>
    <h2>Books</h2>

    <button style="margin-bottom: 10px" onclick="showFilter()">Show / hide filter</button>

    <div style="display: none" id="filterForm">
        {{ form_start(filterForm) }}
        <div class="form-row">
            <div>{{ form_label(filterForm.title) }}</div>
            <div style="margin-bottom: 10px">{{ form_widget(filterForm.title) }}</div>
        </div>
        <div class="form-row">
            <div>{{ form_label(filterForm.authors) }}</div>
            <div style="margin-bottom: 10px">{{ form_widget(filterForm.authors) }}</div>
        </div>
        <div class="form-row">
            <div>{{ form_label(filterForm.descriptionByWord) }}</div>
            <div style="margin-bottom: 10px">{{ form_widget(filterForm.descriptionByWord) }}</div>
        </div>
        <div class="form-row">
            <div style="margin-bottom: 10px">{{ form_label(filterForm.isPicture) }} {{ form_widget(filterForm.isPicture) }}</div>
        </div>
        <div class="form-row">
            <div>{{ form_label(filterForm.dateFrom) }}{{ form_widget(filterForm.dateFrom) }}</div>
            <div style="margin-bottom: 10px">{{ form_label(filterForm.dateTo) }}{{ form_widget(filterForm.dateTo) }}</div>
        </div>
        {{ form_widget(filterForm) }}
        {{ form_end(filterForm) }}
        <br>
    </div>
    <form action={{ path('book') }}>
        <button style="margin-bottom: 10px">Show all</button>
    </form>


    <table style="border-spacing: 30px 10px">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Authors</th>
            <th>Description</th>
            <th>Picture</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr id="book_{{ book.id }}">
                <td>
                    {{ book.id }}
                </td>
                <td id="book_title_{{ book.id }}">
                    {{ book.title }}
                </td>
                <td id="book_authors_{{ book.id }}">
                    {% for author in book.authors %}
                        {{ author.name }}<br>
                    {% endfor %}
                </td>
                <td id="book_description_{{ book.id }}">
                    {{ book.description }}
                </td>
                <td id="updated_book_picture_{{ book.id }}">
                    {% if book.picture %}
                        <img style="height: 50px; width: 40px"  id="book_picture_{{ book.id }}" src="{{ asset('uploads/media/default/0001/01/' ~ book.picture.providerReference) }}">
                    {% else %}
                            (nope)
                    {% endif %}
                </td>
                <td id="book_date_{{ book.id }}">{{ book.date|date('d/m/Y') }}</td>

                <td style="width: 60px"><button onclick="editBook({{ book.id }})" >Edit</button></td>
                <td><button onclick="deleteBook({{ book.id }})" >Delete</button></td>

            </tr>
            <tr class="editBook" id="editBook_{{ book.id }}">

                <td></td>
                <td>

                    <input style="width: 130px" type="text" id="new_book_title_{{ book.id }}" required="required" value={{ book.title }}>
                </td>
                <td>
                    <select  style="width: 130px" id="new_book_authors_{{ book.id }}" required="required" multiple="multiple">
                        {% for author in authors %}
                            {% if author in book.authors %}
                                <option  value={{ author.id }} selected="selected">{{author.name}}</option>
                            {% else %}
                                <option  value={{ author.id }}>{{author.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <textarea style="width: 130px" id="new_book_description_{{ book.id }}" required="required">
                            {{book.description}}
                        </textarea>
                </td>
                <td>
                    <input style="width: 130px" type="file" id="new_book_picture_{{ book.id }}">
                </td>
                <td>
                    <input style="width: 130px" type="date" id="new_book_date_{{ book.id }}" required="required" value="{{book.date|date('Y-m-d')}}">
                </td>
                <td>
                    <button onclick="updateBook({{ book.id }})">Update</button>
                    <div id="errorMessage_{{ book.id }}" style="color: red"></div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{path('new_book')}}">Create new</a><br>
    <a href={{path('homepage')}}>Homepage</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/scripts.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
{% endblock %}