{% extends "base.html.twig" %}

{% block title %}AppBundle:Book:new{% endblock %}

{% block body %}
    <h2>New book</h2>

    {{ form_start(form) }}
    <div class="form-row">
        <div>{{ form_label(form.title) }}</div>
        <div style="margin-bottom: 10px">{{ form_widget(form.title) }}</div>
    </div>
    <div class="form-row">
        <div>{{ form_label(form.description) }}</div>
        <div style="margin-bottom: 10px">{{ form_widget(form.description) }}</div>
    </div>
    <div class="form-row">
        <div>{{ form_label(form.picture) }}</div>
        <div style="margin-bottom: 10px">{{ form_widget(form.picture) }}</div>
    </div>
    <div class="form-row">
        <div>{{ form_label(form.date) }}</div>
        <div style="margin-bottom: 10px">{{ form_widget(form.date) }}</div>
    </div>
    <div class="form-row">
        <div>{{ form_label(form.authors) }}</div>
        <div style="margin-bottom: 10px">{{ form_widget(form.authors) }}</div>
    </div>

    {{ form_widget(form) }}
    <button class="btn" style="margin-bottom: 10px">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href={{path('book')}}>Back to list</a><br>

{% endblock %}
